<app-container-padrao titulo="Categorias">
  <button routerLink="/hackathon-unifacisa/novo-prod" id = "add-buton" class="btn btn-primary btn-sm float-right">Adicionar Categoria</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
     
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categoria of categorias">
      <td>{{categoria.descricao}}</td>
      <td>
        <button class="btn btn-danger btn-sm mr-2"(click)="excluir(categoria)">Remover</button>
        <button class="btn btn-primary btn-sm" (click)="editar(categoria.id)">Editar</button>
      </td>
    </tr>
  </tbody>
</table>
</app-container-padrao>